.comment-card{
    display: flex;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-button{
    display: flex;
    justify-content: flex-end;
}
.comment-profile{
    margin:7px;
}