/* .search-bar-container {
  width: 100%;
  text-align: center;
}
.search-bar {
  width: 21rem;
  height: 3.5rem;
  border: none;
  padding: 8px 20px;
  outline: none;
  font-size: 18px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  transition: ease-in-out 0.2s;
}
.search-bar:focus {
  background-color: #f8df00;
  width: 23rem;
} */


.search-bar-container{
  display: flex;
  justify-content: center;
  margin:5px
}
.search-cnt{
  min-width: 400px;


}
.input-searchbar-cnt{
  width: 300px;
  float: left;
}

.searchicon{
  padding: 0px 16px;
  float: left;
  position: relative;
}