.dropdown {
    position: relative;
    margin: 0;
    padding-right: 10px;
  }

 
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    margin-left: -149px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  

  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6 !important;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
    color: black;
  }
  
 .dd-link{
  background-color: white !important;
  border-style:none !important;
  color: black ;
}

.dd-link:hover{
  background-color: #f6f6f6 !important ;
  border-style:none !important;
  color: black ;
}



