.pagination{
    display: inline-flex;
    justify-content: center;
}
.pagination-nav{
    width: 100%;
    text-align: center;
}
.page-item{
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
}
.page-link{
    text-decoration: none;  
    font-size: 1.5rem;
}
.active{
    background-color: red;
}