.pagination {
  display: inline-flex;
  justify-content: center;
}

.pagination-nav {
  width: 100%;
  text-align: center;
}

.pagination-item {
  list-style: none;
}

.page-link {
  text-decoration: none;
  font-size: 1.5rem;
  list-style: none;
  padding: 5px 15px;
  background: #ffffff;
  color: #292929;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 0.3rem;
}

.page-link.active {
  background: #f8df00;
}
